<%- include('../templates/head') %>

<body>
        <h1>Product List for Admin</h1>
        <a href="/admin" class="button">Back to Admin Panels</a>


        <div class="productList">
            <%- include('../templates/miniCardAdmin', { productList }) %>
        </div>
        <div class="productList">
            <h2> <%= message %></h2>
        </div>
        
        <a href="/admin" class="button">Back to Admin Panels</a>
      
</body>
</html>

