<%- include('../templates/head') %>

<body>
        <%- include('../templates/logBar') %>
        <h1>Cart</h1>
        <a href="/" class="button">Back to Home</a>

        <div class="productList">
            
            <%- include('../templates/miniCardCart', { cartListRender }) %>
            
        </div>
        <div class="totalAmount">
            <h2>Total: <%- cartAmount %> €</h2>
            <button class="buyButton">Buy Now!</button>
        </div>
        
        <a href="/" class="button">Back to Home</a>
        
  <script>
      
      $('body').on('click', '.cartAddButton', (e) => {
          let idToRemove = e.currentTarget.childNodes[1].innerHTML;

          fetch(`/cart/products/${idToRemove}`, {
            method: 'delete',
            headers: { 'Content-Type' : 'application/json' },
            cache: 'no-cache'
            })

            setTimeout(() => {location.reload()}, 800);
        })

        $('body').on('click', '.buyButton', (e) => {

            fetch('/cart/buynow/buyok', {
                method: 'post',
                headers: { 'Content-Type': 'application/json' },
                cache: 'no-cache'
            })
        })
  </script>        
</body>
</html>

