<%- include('../templates/head') %> 

<body>
    <a href="/" class="button">Go to Home</a>
    <div class="centralForm">
        <h2>You screw it up!</h2>
        <h3 class="actualForm"><%= message %></h3>
    </div>
    

        
</body>
</html>