<%- include('../templates/head') %> 

<body>
    <div class="centralForm">
        <h2> Good! Thanks for your Purchase!</h2>
        <h3 class="actualForm"><%= message %></h3>
    </div>
    

        
</body>
</html>