<div class="logBar">
    <h1>Welcome <%- logName %></h1>

    <% if (avatarDir) { %>
    <img src=<%- `/avatars/${avatarDir}` %>>
    <% } %>
    
    <% if (logName) { %>
        <button class="logOutButton" onclick="window.location.href='/logout'">Logout</button>

    <% } else if (!logName) { %>
        <button class="logButton" onclick="window.location.href='/login'">Login</button>
    <% } %>
    
    <% if(userToken) { %>
        <h3>API-REST-KEY (Valid for 24Hrs): <p class="apiKey"><%- userToken %></p></h3>
    <% } %>
</div>